<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=accessibility_new" />
    <title>Portafoli</title>
    <link rel="stylesheet" href="/DIW/UD6Activity3/src/scss/portafolio.css"> 
</head>
<body>
    <header>
        <img src="/DIW/UD6Activity3/src/img/logo.png" alt="Logo">
        <div class="header-top">
            <div class="menu-icon" id="menu-icon">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <h1>LA BALENA BLAVA</h1>
            <a href="/DIW/UD6Activity3/src/views/login.html"><button class="login-button">Iniciar Sessió</button></a>
        </div>
        </header>

    <nav class="menu" id="menu">
        <ul class="menu-options" id="menu-options">
            <h1>MENÚ</h1>
            <li><a href="/DIW/UD6Activity3/src/index.html">Inici</a></li>
            <li><a href="/DIW/UD6Activity3/src/views/historia.html">Història</a></li>
            <li><a href="/DIW/UD6Activity3/src/views/portafolio.html">Portafoli</a></li>
            <li><a href="/DIW/UD6Activity3/src/views/noticias.html">Notícies</a></li>
            <li>
                <a href="#around" class="submenu-toggle">Al voltant de la balena</a>
                <ul class="submenu">
                    <li><a href="/DIW/UD6Activity3/src/views/fitxestecniques.html">Fitxes tècniques</a></li>
                    <li><a href="/DIW/UD6Activity3/src/views/altresacts.html">Altres activitats</a></li>
                </ul>
            </li>
            <li><a href="/DIW/UD6Activity3/src/views/adminpage.html">Admin Page</a></li>
        </ul>
    </nav>
    <main>
        <section class="portfolio-container">
            <div class="portfolio-grid">
                <div class="portfolio-item">
                    <img src="/DIW/UD6Activity3/src/img/portafolio/Francisco Pérez1.jpg" alt="Imagen 1">
                    <p>Francisco Pérez</p>
                </div>
                <div class="portfolio-item">
                    <img src="/DIW/UD6Activity3/src/img/portafolio/Francisco Pérez2.jpg" alt="Imagen 2">
                    <p>Francisco Pérez</p>
                </div>
                <div class="portfolio-item">
                    <img src="/DIW/UD6Activity3/src/img/portafolio/Francisco Pérez3.jpg" alt="Imagen 3">
                    <p>Francisco Pérez</p>
                </div>
                <div class="portfolio-item">
                    <img src="/DIW/UD6Activity3/src/img/portafolio/Francisco Pérez4.jpg" alt="Imagen 4">
                    <p>Francisco Pérez</p>
                </div>
                <div class="portfolio-item">
                    <img src="/DIW/UD6Activity3/src/img/portafolio/Francisco Pérez5.jpg" alt="Imagen 5">
                    <p>Francisco Pérez</p>
                </div>
                <div class="portfolio-item">
                    <img src="/DIW/UD6Activity3/src/img/portafolio/Francisco Pérez6.jpg" alt="Imagen 6">
                    <p>Francisco Pérez</p>
                </div>
                <div class="portfolio-item">
                    <img src="/DIW/UD6Activity3/src/img/portafolio/Francisco Pérez7.jpg" alt="Imagen 7">
                    <p>Francisco Pérez</p>
                </div>
                <div class="portfolio-item">
                    <img src="/DIW/UD6Activity3/src/img/portafolio/Francisco Pérez8.jpg" alt="Imagen 8">
                    <p>Francisco Pérez</p>
                </div>
                <div class="portfolio-item">
                    <img src="/DIW/UD6Activity3/src/img/portafolio/Francisco Pérez9.jpg" alt="Imagen 9">
                    <p>Francisco Pérez</p>
                </div>
                <div class="portfolio-item">
                    <img src="/DIW/UD6Activity3/src/img/portafolio/Francisco Pérez10.jpg" alt="Imagen 10">
                    <p>Francisco Pérez</p>
                </div>
                <div class="portfolio-item">
                    <img src="/DIW/UD6Activity3/src/img/portafolio/Francisco Pérez11.jpg" alt="Imagen 11">
                    <p>Francisco Pérez</p>
                </div>
                <div class="portfolio-item">
                    <img src="/DIW/UD6Activity3/src/img/portafolio/Francisco Pérez12.jpg" alt="Imagen 12">
                    <p>Francisco Pérez</p>
                </div>
                <div class="portfolio-item">
                    <img src="/DIW/UD6Activity3/src/img/portafolio/Francisco Pérez13.jpg" alt="Imagen 13">
                    <p>Francisco Pérez</p>
                </div>
                <div class="portfolio-item">
                    <img src="/DIW/UD6Activity3/src/img/portafolio/Francisco Pérez14.jpg" alt="Imagen 14">
                    <p>Francisco Pérez</p>
                </div>
                <div class="portfolio-item">
                    <img src="/DIW/UD6Activity3/src/img/portafolio/Francisco Pérez15.jpg" alt="Imagen 15">
                    <p>Francisco Pérez</p>
                </div>
                <div class="portfolio-item">
                    <img src="/DIW/UD6Activity3/src/img/portafolio/Francisco Pérez16.jpg" alt="Imagen 16">
                    <p>Francisco Pérez</p>
                </div>
                <div class="portfolio-item">
                    <img src="/DIW/UD6Activity3/src/img/portafolio/Francisco Pérez17.jpg" alt="Imagen 17">
                    <p>Francisco Pérez</p>
                </div>
                <div class="portfolio-item">
                    <img src="/DIW/UD6Activity3/src/img/portafolio/José Ignacio Seguí Chinchilla1.jpg" alt="Imagen 18">
                    <p>José Ignacio Seguí Chinchilla</p>
                </div>
                <div class="portfolio-item">
                    <img src="/DIW/UD6Activity3/src/img/portafolio/José Ignacio Seguí Chinchilla2.jpg" alt="Imagen 19">
                    <p>José Ignacio Seguí Chinchilla</p>
                </div>
                <div class="portfolio-item">
                    <img src="/DIW/UD6Activity3/src/img/portafolio/José Ignacio Seguí Chinchilla3.jpg" alt="Imagen 20">
                    <p>José Ignacio Seguí Chinchilla</p>
                </div>
                <div class="portfolio-item">
                    <img src="/DIW/UD6Activity3/src/img/portafolio/José Ignacio Seguí Chinchilla4.jpg" alt="Imagen 21">
                    <p>José Ignacio Seguí Chinchilla</p>
                </div>
                <div class="portfolio-item">
                    <img src="/DIW/UD6Activity3/src/img/portafolio/José Ignacio Seguí Chinchilla5.jpg" alt="Imagen 22">
                    <p>José Ignacio Seguí Chinchilla</p>
                </div>
                <div class="portfolio-item">
                    <img src="/DIW/UD6Activity3/src/img/portafolio/José Ignacio Seguí Chinchilla6.jpg" alt="Imagen 23">
                    <p>José Ignacio Seguí Chinchilla</p>
                </div>
                <div class="portfolio-item">
                    <img src="/DIW/UD6Activity3/src/img/portafolio/José Ignacio Seguí Chinchilla7.jpg" alt="Imagen 24">
                    <p>José Ignacio Seguí Chinchilla</p>
                </div>
                <div class="portfolio-item">
                    <img src="/DIW/UD6Activity3/src/img/portafolio/José Ignacio Seguí Chinchilla8.jpg" alt="Imagen 25">
                    <p>José Ignacio Seguí Chinchilla</p>
                </div>
                <div class="portfolio-item">
                    <img src="/DIW/UD6Activity3/src/img/portafolio/José Ignacio Seguí Chinchilla9.jpg" alt="Imagen 26">
                    <p>José Ignacio Seguí Chinchilla</p>
                </div>
                <div class="portfolio-item">
                    <img src="/DIW/UD6Activity3/src/img/portafolio/José Ignacio Seguí Chinchilla10.jpg" alt="Imagen 27">
                    <p>José Ignacio Seguí Chinchilla</p>
                </div>
                <div class="portfolio-item">
                    <img src="/DIW/UD6Activity3/src/img/portafolio/José Ignacio Seguí Chinchilla11.jpg" alt="Imagen 28">
                    <p>José Ignacio Seguí Chinchilla</p>
                </div>
                <div class="portfolio-item">
                    <img src="/DIW/UD6Activity3/src/img/portafolio/Pedro Riveiro1.jpg" alt="Imagen 29">
                    <p>Pedro Riveiro</p>
                </div>
                <div class="portfolio-item">
                    <img src="/DIW/UD6Activity3/src/img/portafolio/Pedro Riveiro2.jpg" alt="Imagen 30">
                    <p>Pedro Riveiro</p>
                </div>
                <div class="portfolio-item">
                    <img src="/DIW/UD6Activity3/src/img/portafolio/Pedro Riveiro3.jpg" alt="Imagen 31">
                    <p>Pedro Riveiro</p>
                </div>
                <div class="portfolio-item">
                    <img src="/DIW/UD6Activity3/src/img/portafolio/Pedro Riveiro4.jpg" alt="Imagen 32">
                    <p>Pedro Riveiro</p>
                </div>
                <div class="portfolio-item">
                    <img src="/DIW/UD6Activity3/src/img/portafolio/Pedro Riveiro5.jpg" alt="Imagen 33">
                    <p>Pedro Riveiro</p>
                </div>
                <div class="portfolio-item">
                    <img src="/DIW/UD6Activity3/src/img/portafolio/Pedro Riveiro6.jpg" alt="Imagen 34">
                    <p>Pedro Riveiro</p>
                </div>
                <div class="portfolio-item">
                    <img src="/DIW/UD6Activity3/src/img/portafolio/Pedro Riveiro7.jpg" alt="Imagen 35">
                    <p>Pedro Riveiro</p>
                </div>
                <div class="portfolio-item">
                    <img src="/DIW/UD6Activity3/src/img/portafolio/Ufe Garcia1.jpg" alt="Imagen 36">
                    <p>Ufe Garcia</p>
                </div>
                <div class="portfolio-item">
                    <img src="/DIW/UD6Activity3/src/img/portafolio/Ufe Garcia2.jpg" alt="Imagen 37">
                    <p>Ufe Garcia</p>
                </div>
                <div class="portfolio-item">
                    <img src="/DIW/UD6Activity3/src/img/portafolio/Ufe Garcia3.jpg" alt="Imagen 38">
                    <p>Ufe Garcia</p>
                </div>
                <div class="portfolio-item">
                    <img src="/DIW/UD6Activity3/src/img/portafolio/Ufe Garcia4.jpg" alt="Imagen 39">
                    <p>Ufe Garcia</p>
                </div>
                <div class="portfolio-item">
                    <img src="/DIW/UD6Activity3/src/img/portafolio/Ufe Garcia5.jpg" alt="Imagen 40">
                    <p>Ufe Garcia</p>
                </div>
                <div class="portfolio-item">
                    <img src="/DIW/UD6Activity3/src/img/portafolio/Ufe Garcia6.jpg" alt="Imagen 41">
                    <p>Ufe Garcia</p>
                </div>
                <div class="portfolio-item">
                    <img src="/DIW/UD6Activity3/src/img/portafolio/Ufe Garcia7.jpg" alt="Imagen 42">
                    <p>Ufe Garcia</p>
                </div>
                <div class="portfolio-item">
                    <img src="/DIW/UD6Activity3/src/img/portafolio/Ufe Garcia8.jpg" alt="Imagen 43">
                    <p>Ufe Garcia</p>
                </div>
                <div class="portfolio-item">
                    <img src="/DIW/UD6Activity3/src/img/portafolio/Ufe Garcia9.jpg" alt="Imagen 44">
                    <p>Ufe Garcia</p>
                </div>
                <div class="portfolio-item">
                    <img src="/DIW/UD6Activity3/src/img/portafolio/Ufe Garcia10.jpg" alt="Imagen 45">
                    <p>Ufe Garcia</p>
                </div>
                <div class="portfolio-item">
                    <img src="/DIW/UD6Activity3/src/img/portafolio/Ufe Garcia11.jpg" alt="Imagen 46">
                    <p>Ufe Garcia</p>
                </div>
                <div class="portfolio-item">
                    <img src="/DIW/UD6Activity3/src/img/portafolio/Ufe Garcia12.jpg" alt="Imagen 47">
                    <p>Ufe Garcia</p>
                </div>
                <div class="portfolio-item">
                    <img src="/DIW/UD6Activity3/src/img/portafolio/Ufe Garcia12.jpg" alt="Imagen 47">
                    <p>Ufe Garcia</p>
                </div>
            </div>
        </section>
        <aside>
            <button id="accessibility-icon" onclick="toggleAccessibilityMenu()">
                <span class="material-symbols-outlined">accessibility_new</span>
            </button>
            <div id="accessibility-menu" class="accessibility-menu" style="display: none;">
                <h3>Accessibilitat</h3>
                <div class="contrast-settings">
                    <h4>Contrast</h4>
                    <button onclick="setContrast('grayscale')">Escala de grisos</button>
                    <button onclick="setContrast('dark')">Alt contrast fosc</button>
                    <button onclick="setContrast('light')">Alt contrast clar</button>
                    <button onclick="setContrast('high-saturation')">Alta saturació</button>
                    <button onclick="setContrast('low-saturation')">Baixa saturació</button>
                </div>
                <div class="font-settings">
                    <h4>Configuració de font</h4>
                    <label for="font-size">Mida de la font</label>
                    <input type="range" id="font-size" min="0.8" max="2" step="0.1" value="1" oninput="setFontSize(this.value)">
                    
                    <label for="line-spacing">Espai entre línies</label>
                    <input type="range" id="line-spacing" min="1" max="2" step="0.1" value="1.5" oninput="setLineSpacing(this.value)">
                    
                    <label for="word-spacing">Espai entre paraules</label>
                    <input type="range" id="word-spacing" min="0" max="1" step="0.1" value="0" oninput="setWordSpacing(this.value)">
                    
                    <label for="letter-spacing">Espai entre lletres</label>
                    <input type="range" id="letter-spacing" min="0" max="1" step="0.1" value="0" oninput="setLetterSpacing(this.value)">
                </div>
                <button onclick="toggleAccessibilityMenu()" id="close-accessibility-menu">Tancar</button>
            </div>
        </aside>
    </main>
    

    <footer>
        <p>&copy; 2024 La Balena Blava. Luca Seguí</p>
    </footer>

    <script src="/DIW/UD6Activity3/src/js/menu.js"></script>
    <script src="/DIW/UD6Activity3/src/js/accessibility.js"></script>
    <script src="/DIW/UD6Activity3/src/js/loginstatus.js"></script>
    <script src="/DIW/UD6Activity3/src/js/login.js"></script>

</body>
</html>
