<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/DIW/css/login.css"> 
</head>
<body>
    <header>
        <div class="header-top">
            <div class="menu-icon" id="menu-icon">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <h1>LA BALENA BLAVA</h1>
            <div class="logo">
                <img src="/img/logo.png" alt="Logo"> 
            </div>
        </div>
    </header>

    <nav class="menu" id="menu">
        <ul class="menu-options" id="menu-options">
            <h1>MENÚ</h1>
            <li><a href="/DIW/index.html">Inici</a></li>
            <li><a href="#about">Història</a></li>
            <li><a href="/DIW/views/portafolio.html">Portafoli</a></li>
            <li><a href="#news">Notícies</a></li>
            <li>
                <a href="#" class="submenu-toggle">Al voltant de la balena</a>
                <ul class="submenu">
                    <li><a href="#">Fitxes tècniques</a></li>
                    <li><a href="#">Altres activitats</a></li>
                </ul>
            </li>
            <li><a href="#admin">Admin Page</a></li>
        </ul>
    </nav>

    <main>
        <div class="menu-container">
            <div class="login-container">
                <form class="login-form">
                    <h1>Inici de sessió</h1>
                    <label for="email">Gmail:</label>
                    <input type="email" id="email" name="email" required>

                    <label for="password">Contrassenya:</label>
                    <input type="password" id="password" name="password" required>
                    
                    <a href="#" class="forgot-password">Has olvidat la teva contrassenya?</a>

                    <button type="submit" class="login-button">Iniciar Sessió</button>
                </form>
            </div>
        </div>
    </main>

    <footer>
        <p>&copy; 2024 La Ballena Blava. Luca Seguí</p>
    </footer>

    <script src="/js/menu.js"></script>
</body>
</html>
