<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portafoli</title>
    <link rel="stylesheet" href="/DIW/css/portfolio.css"> 
</head>
<body>
    <header>
        <div class="header-top">
            <div class="menu-icon" id="menu-icon">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <h1>LA BALENA BLAVA</h1>
            <div class="logo">
                <img src=/DIW/img/logo.png" alt="Logo"> 
            </div>
        </div>
    </header>

    <nav class="menu" id="menu">
        <ul class="menu-options" id="menu-options">
            <h1>MENÚ</h1>
            <li><a href="/DIW/index.html">Inici</a></li>
            <li><a href="#about">Història</a></li>
            <li><a href="/DIW/views/portafolio.html">Portafoli</a></li>
            <li><a href="#news">Notícies</a></li>
            <li>
                <a href="#around" class="submenu-toggle">Al voltant de la balena</a>
                <ul class="submenu">
                    <li><a href="#">Fitxes tècniques</a></li>
                    <li><a href="#">Altres activitats</a></li>
                </ul>
            </li>
            <li><a href="#admin">Admin Page</a></li>
        </ul>
    </nav>

    <main>
        <section class="portfolio-container">
            <div class="portfolio-grid">
                <div class="portfolio-item">
                    <img src=/DIW/img/portafolio/Francisco Pérez1.jpg" alt="Imagen 1">
                    <p>Francisco Pérez</p>
                </div>
                <div class="portfolio-item">
                    <img src=/DIW/img/portafolio/Francisco Pérez2.jpg" alt="Imagen 2">
                    <p>Francisco Pérez</p>
                </div>
                <div class="portfolio-item">
                    <img src=/DIW/img/portafolio/Francisco Pérez3.jpg" alt="Imagen 3">
                    <p>Francisco Pérez</p>
                </div>
                <div class="portfolio-item">
                    <img src=/DIW/img/portafolio/Francisco Pérez4.jpg" alt="Imagen 4">
                    <p>Francisco Pérez</p>
                </div>
                <div class="portfolio-item">
                    <img src=/DIW/img/portafolio/Francisco Pérez5.jpg" alt="Imagen 5">
                    <p>Francisco Pérez</p>
                </div>
                <div class="portfolio-item">
                    <img src=/DIW/img/portafolio/Francisco Pérez6.jpg" alt="Imagen 6">
                    <p>Francisco Pérez</p>
                </div>
                <div class="portfolio-item">
                    <img src=/DIW/img/portafolio/Francisco Pérez7.jpg" alt="Imagen 7">
                    <p>Francisco Pérez</p>
                </div>
                <div class="portfolio-item">
                    <img src=/DIW/img/portafolio/Francisco Pérez8.jpg" alt="Imagen 8">
                    <p>Francisco Pérez</p>
                </div>
                <div class="portfolio-item">
                    <img src=/DIW/img/portafolio/Francisco Pérez9.jpg" alt="Imagen 9">
                    <p>Francisco Pérez</p>
                </div>
                <div class="portfolio-item">
                    <img src=/DIW/img/portafolio/Francisco Pérez10.jpg" alt="Imagen 10">
                    <p>Francisco Pérez</p>
                </div>
                <div class="portfolio-item">
                    <img src=/DIW/img/portafolio/Francisco Pérez11.jpg" alt="Imagen 11">
                    <p>Francisco Pérez</p>
                </div>
                <div class="portfolio-item">
                    <img src=/DIW/img/portafolio/Francisco Pérez12.jpg" alt="Imagen 12">
                    <p>Francisco Pérez</p>
                </div>
                <div class="portfolio-item">
                    <img src=/DIW/img/portafolio/Francisco Pérez13.jpg" alt="Imagen 13">
                    <p>Francisco Pérez</p>
                </div>
                <div class="portfolio-item">
                    <img src=/DIW/img/portafolio/Francisco Pérez14.jpg" alt="Imagen 14">
                    <p>Francisco Pérez</p>
                </div>
                <div class="portfolio-item">
                    <img src=/DIW/img/portafolio/Francisco Pérez15.jpg" alt="Imagen 15">
                    <p>Francisco Pérez</p>
                </div>
                <div class="portfolio-item">
                    <img src=/DIW/img/portafolio/Francisco Pérez16.jpg" alt="Imagen 16">
                    <p>Francisco Pérez</p>
                </div>
                <div class="portfolio-item">
                    <img src=/DIW/img/portafolio/Francisco Pérez17.jpg" alt="Imagen 17">
                    <p>Francisco Pérez</p>
                </div>
                <div class="portfolio-item">
                    <img src=/DIW/img/portafolio/José Ignacio Seguí Chinchilla1.jpg" alt="Imagen 18">
                    <p>José Ignacio Seguí Chinchilla</p>
                </div>
                <div class="portfolio-item">
                    <img src=/DIW/img/portafolio/José Ignacio Seguí Chinchilla2.jpg" alt="Imagen 19">
                    <p>José Ignacio Seguí Chinchilla</p>
                </div>
                <div class="portfolio-item">
                    <img src=/DIW/img/portafolio/José Ignacio Seguí Chinchilla3.jpg" alt="Imagen 20">
                    <p>José Ignacio Seguí Chinchilla</p>
                </div>
                <div class="portfolio-item">
                    <img src=/DIW/img/portafolio/José Ignacio Seguí Chinchilla4.jpg" alt="Imagen 21">
                    <p>José Ignacio Seguí Chinchilla</p>
                </div>
                <div class="portfolio-item">
                    <img src=/DIW/img/portafolio/José Ignacio Seguí Chinchilla5.jpg" alt="Imagen 22">
                    <p>José Ignacio Seguí Chinchilla</p>
                </div>
                <div class="portfolio-item">
                    <img src=/DIW/img/portafolio/José Ignacio Seguí Chinchilla6.jpg" alt="Imagen 23">
                    <p>José Ignacio Seguí Chinchilla</p>
                </div>
                <div class="portfolio-item">
                    <img src=/DIW/img/portafolio/José Ignacio Seguí Chinchilla7.jpg" alt="Imagen 24">
                    <p>José Ignacio Seguí Chinchilla</p>
                </div>
                <div class="portfolio-item">
                    <img src=/DIW/img/portafolio/José Ignacio Seguí Chinchilla8.jpg" alt="Imagen 25">
                    <p>José Ignacio Seguí Chinchilla</p>
                </div>
                <div class="portfolio-item">
                    <img src=/DIW/img/portafolio/José Ignacio Seguí Chinchilla9.jpg" alt="Imagen 26">
                    <p>José Ignacio Seguí Chinchilla</p>
                </div>
                <div class="portfolio-item">
                    <img src=/DIW/img/portafolio/José Ignacio Seguí Chinchilla10.jpg" alt="Imagen 27">
                    <p>José Ignacio Seguí Chinchilla</p>
                </div>
                <div class="portfolio-item">
                    <img src=/DIW/img/portafolio/José Ignacio Seguí Chinchilla11.jpg" alt="Imagen 28">
                    <p>José Ignacio Seguí Chinchilla</p>
                </div>
                <div class="portfolio-item">
                    <img src=/DIW/img/portafolio/Pedro Riveiro1.jpg" alt="Imagen 29">
                    <p>Pedro Riveiro</p>
                </div>
                <div class="portfolio-item">
                    <img src=/DIW/img/portafolio/Pedro Riveiro2.jpg" alt="Imagen 30">
                    <p>Pedro Riveiro</p>
                </div>
                <div class="portfolio-item">
                    <img src=/DIW/img/portafolio/Pedro Riveiro3.jpg" alt="Imagen 31">
                    <p>Pedro Riveiro</p>
                </div>
                <div class="portfolio-item">
                    <img src=/DIW/img/portafolio/Pedro Riveiro4.jpg" alt="Imagen 32">
                    <p>Pedro Riveiro</p>
                </div>
                <div class="portfolio-item">
                    <img src=/DIW/img/portafolio/Pedro Riveiro5.jpg" alt="Imagen 33">
                    <p>Pedro Riveiro</p>
                </div>
                <div class="portfolio-item">
                    <img src=/DIW/img/portafolio/Pedro Riveiro6.jpg" alt="Imagen 34">
                    <p>Pedro Riveiro</p>
                </div>
                <div class="portfolio-item">
                    <img src=/DIW/img/portafolio/Pedro Riveiro7.jpg" alt="Imagen 35">
                    <p>Pedro Riveiro</p>
                </div>
                <div class="portfolio-item">
                    <img src=/DIW/img/portafolio/Ufe Garcia1.jpg" alt="Imagen 36">
                    <p>Ufe Garcia</p>
                </div>
                <div class="portfolio-item">
                    <img src=/DIW/img/portafolio/Ufe Garcia2.jpg" alt="Imagen 37">
                    <p>Ufe Garcia</p>
                </div>
                <div class="portfolio-item">
                    <img src=/DIW/img/portafolio/Ufe Garcia3.jpg" alt="Imagen 38">
                    <p>Ufe Garcia</p>
                </div>
                <div class="portfolio-item">
                    <img src=/DIW/img/portafolio/Ufe Garcia4.jpg" alt="Imagen 39">
                    <p>Ufe Garcia</p>
                </div>
                <div class="portfolio-item">
                    <img src=/DIW/img/portafolio/Ufe Garcia5.jpg" alt="Imagen 40">
                    <p>Ufe Garcia</p>
                </div>
                <div class="portfolio-item">
                    <img src=/DIW/img/portafolio/Ufe Garcia6.jpg" alt="Imagen 41">
                    <p>Ufe Garcia</p>
                </div>
                <div class="portfolio-item">
                    <img src=/DIW/img/portafolio/Ufe Garcia7.jpg" alt="Imagen 42">
                    <p>Ufe Garcia</p>
                </div>
                <div class="portfolio-item">
                    <img src=/DIW/img/portafolio/Ufe Garcia8.jpg" alt="Imagen 43">
                    <p>Ufe Garcia</p>
                </div>
                <div class="portfolio-item">
                    <img src=/DIW/img/portafolio/Ufe Garcia9.jpg" alt="Imagen 44">
                    <p>Ufe Garcia</p>
                </div>
                <div class="portfolio-item">
                    <img src=/DIW/img/portafolio/Ufe Garcia10.jpg" alt="Imagen 45">
                    <p>Ufe Garcia</p>
                </div>
                <div class="portfolio-item">
                    <img src=/DIW/img/portafolio/Ufe Garcia11.jpg" alt="Imagen 46">
                    <p>Ufe Garcia</p>
                </div>
                <div class="portfolio-item">
                    <img src=/DIW/img/portafolio/Ufe Garcia12.jpg" alt="Imagen 47">
                    <p>Ufe Garcia</p>
                </div>
                <div class="portfolio-item">
                    <img src=/DIW/img/portafolio/Ufe Garcia12.jpg" alt="Imagen 47">
                    <p>Ufe Garcia</p>
                </div>
            </div>
        </section>
    </main>
    

    <footer>
        <p>&copy; 2024 La Ballena Blava. Luca Seguí</p>
    </footer>

    <script src=/DIW/js/menu.js"></script>
</body>
</html>
