@import 'variables.scss';

.footer-button {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.footer-button button {
    background-color: $buttonsbg;
    color: $white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
}

.footer-button button:hover {
    background-color: $buttonsbg;
}

footer {
    background-color: $headerfooterbg;
    color: $white;
    height: 50px;
    bottom: 0;
    position: fixed;
    width: 100%;
    text-align: center;
    padding: 10px;
}