<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La Ballena Blava</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=accessibility_new" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/DIW/UD6Activity2/src/scss/login.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>

</head>
<body>
    <header>
        <img src="/DIW/UD6Activity2/src/img/logo.png" alt="Logo">
        <div class="header-top">
            <div class="menu-icon" id="menu-icon">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <h1>LA BALENA BLAVA</h1>
            <a href="/DIW/UD6Activity2/src/views/login.html"><button class="login-button">Iniciar Sessió</button></a>
        </div>
        </header>

    <nav class="menu" id="menu">
        <ul class="menu-options" id="menu-options">
            <h1>MENÚ</h1>
            <li><a href="/DIW/UD6Activity2/src/index.html">Inici</a></li>
            <li><a href="/DIW/UD6Activity2/src/views/historia.html">Història</a></li>
            <li><a href="/DIW/UD6Activity2/src/views/portafolio.html">Portafoli</a></li>
            <li><a href="/DIW/UD6Activity2/src/views/noticias.html">Notícies</a></li>
            <li>
                <a href="#around" class="submenu-toggle">Al voltant de la balena</a>
                <ul class="submenu">
                    <li><a href="/DIW/UD6Activity2/src/views/fitxestecniques.html">Fitxes tècniques</a></li>
                    <li><a href="/DIW/UD6Activity2/src/views/altresacts.html">Altres activitats</a></li>
                </ul>
            </li>
            <li><a href="/DIW/UD6Activity2/src/views/adminpage.html">Admin Page</a></li>
        </ul>
    </nav>

    <main>
        <aside>
            <button id="accessibility-icon" onclick="toggleAccessibilityMenu()">
                <span class="material-symbols-outlined">accessibility_new</span>
            </button>
            <div id="accessibility-menu" class="accessibility-menu" style="display: none;">
                <h3>Accessibilitat</h3>
                <div class="contrast-settings">
                    <h4>Contrast</h4>
                    <button onclick="setContrast('grayscale')">Escala de grisos</button>
                    <button onclick="setContrast('dark')">Alt contrast fosc</button>
                    <button onclick="setContrast('light')">Alt contrast clar</button>
                    <button onclick="setContrast('high-saturation')">Alta saturació</button>
                    <button onclick="setContrast('low-saturation')">Baixa saturació</button>
                </div>
                <div class="font-settings">
                    <h4>Configuració de font</h4>
                    <label for="font-size">Mida de la font</label>
                    <input type="range" id="font-size" min="0.8" max="2" step="0.1" value="1" oninput="setFontSize(this.value)">
                    
                    <label for="line-spacing">Espai entre línies</label>
                    <input type="range" id="line-spacing" min="1" max="2" step="0.1" value="1.5" oninput="setLineSpacing(this.value)">
                    
                    <label for="word-spacing">Espai entre paraules</label>
                    <input type="range" id="word-spacing" min="0" max="1" step="0.1" value="0" oninput="setWordSpacing(this.value)">
                    
                    <label for="letter-spacing">Espai entre lletres</label>
                    <input type="range" id="letter-spacing" min="0" max="1" step="0.1" value="0" oninput="setLetterSpacing(this.value)">
                </div>
                <button onclick="toggleAccessibilityMenu()" id="close-accessibility-menu">Tancar</button>
            </div>
        </aside>

        <div class="menu-container">
            <div class="login-container">
                <form class="login-form">
                    <h1>Canviar la contrasenya</h1>
                    <p class="infotext">Obligatori canviar la contrasenya al primer inici de sessió</p>
                    
                    <label for="password">Contrasenya nova:</label>
                    <input type="password" id="password" name="password" aria-required="true" autocomplete="new-password" placeholder="Contrasenya nova" required>
                
                    <label for="confirm-password">Repetir contrasenya nova:</label>
                    <input type="password" id="confirm-password" name="confirm-password" aria-required="true" autocomplete="new-password" placeholder="Repetir contrasenya nova" required>
                    
                    <div id="message"></div>
                    
                    <button type="submit" class="login-button">Canviar contrasenya</button>
                </form>
        </div>
    </main>

    <footer>
        <p>&copy; 2024 La Balena Blava. Luca Seguí</p>
    </footer>

    <script src="/DIW/UD6Activity2/src/js/change-password.js"></script>
    <script src="/DIW/UD6Activity2/src/js/menu.js"></script>
    <script src="/DIW/UD6Activity2/src/js/accessibility.js"></script>
    <script src="/DIW/UD6Activity2/src/js/checkuser.js"></script>
</body>
</html>
