<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/DIW/UD3Correction/scss/historia.css">
    <title>Document</title>
</head>
<body>
    <header>
        <img src="/DIW/UD6Activity2/src/img/logo.png" alt="Logo">
        <div class="header-top">
            <div class="menu-icon" id="menu-icon">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <h1>LA BALENA BLAVA</h1>
            <a href="/DIW/UD6Activity2/src/views/login.html"><button class="login-button">Iniciar Sessió</button></a>
        </div>
        </header>

    <nav class="menu" id="menu">
        <ul class="menu-options" id="menu-options">
            <h1>MENÚ</h1>
            <li><a href="/DIW/UD6Activity2/src/index.html">Inici</a></li>
            <li><a href="/DIW/UD6Activity2/src/views/historia.html">Història</a></li>
            <li><a href="/DIW/UD6Activity2/src/views/portafolio.html">Portafoli</a></li>
            <li><a href="/DIW/UD6Activity2/src/views/noticias.html">Notícies</a></li>
            <li>
                <a href="#around" class="submenu-toggle">Al voltant de la balena</a>
                <ul class="submenu">
                    <li><a href="/DIW/UD6Activity2/src/views/fitxestecniques.html">Fitxes tècniques</a></li>
                    <li><a href="/DIW/UD6Activity2/src/views/altresacts.html">Altres activitats</a></li>
                </ul>
            </li>
            <li><a href="/DIW/UD6Activity2/src/views/adminpage.html">Admin Page</a></li>
        </ul>
    </nav>
    <footer>
        <p>&copy; 2024 La Balena Blava. Luca Seguí</p>
    </footer>


    
<script src="/DIW/UD6Activity2/src/js/menu.js"></script>
<script src="/DIW/UD6Activity2/src/js/accessibility.js"></script>

<script src="/DIW/UD6Activity2/src/js/checkuser.js"></script>


</body>
</html>