<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles de la noticia</title>
    <link rel="stylesheet" href="../css/afegircoses.css">
</head>
<body>

    <header>
        <h1>Detalles de la Noticia</h1>
    </header>

    <main>
        <div id="news-detail">
            <h2 id="news-title"></h2>
            <p id="news-author"></p>
            <p id="news-subtitle"></p>
            <div id="news-text"></div>
        </div>
    </main>

    <footer>
        <p>&copy; 2024 La Balena Blava</p>
    </footer>

    <script src="https://www.gstatic.com/firebasejs/11.2.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/11.2.0/firebase-firestore.js"></script>
    <script type="module" src="/DIW/UD5Activity1/src/firebase/detallesNews.js"></script>


</body>
</html>
