<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Editor</title>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">    
    <link rel="stylesheet" href="/DIW/UD5Activity1/src/css/news_editor.css">
</head>
<body>
    <h1>Post Editor</h1>
    
    <div class="toolbox">
      <h3>Toolbox</h3>
      <div class="tool" data-type="paragraph" id="paragraph-tool" name="paragraph-tool">Párrafo</div>
      <div class="tool" data-type="image" id="image-tool" name="image-tool">Imagen</div>
    </div>

    <div id="builder">
        <h2>Título de la noticia</h2>
        <div class="title-container">
            <textarea id="news-title" name="news-title" placeholder="Escribe el título aquí..."></textarea>
        </div>
        <div class="row-container" id="row-container" name="row-container">
        </div>
    </div>

    <label for="column-choice">Número de columnas por fila:</label>
    <select id="column-choice" name="column-choice">
      <option value="1">1 columna</option>
      <option value="2">2 columnas</option>
    </select>

    <button id="add-row" name="add-row">Añadir Fila</button>
    <button id="publish-post" class="publish-button" name="publish-post">Publicar</button>
    
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.14.1/jquery-ui.min.js" integrity="sha384-SStJQoPipVtHHnIgUfDI+jTAbSyU+HMbhwt2XRRNpLIRFg9VguopT6Y4+cdOlkqg" crossorigin="anonymous"></script>
    <script type="module" src="/DIW/UD5Activity1/src/js/news_editor.js"></script>
</body>
</html>
