button.login-create-button {
    background-color: #3498db;
    color: white;
    padding: 6px 12px; 
    border-radius: 9999px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px; 
    display: inline-block; 
    text-align: center; 
    margin-right: 10px;
  }
  
  button.login-create-button:hover {
    background-color: #2980b9;
  }
  
  .container {
    display: flex;
    justify-content: flex-end; 
  }
  