// VARIBALES SCSS

//Colors
$headerfooterbg: #003366;
$mainbg: #d2eef5;
$cardsbg: #e0f7fa;
$buttonsbg: #38AECC;
$white: #FFFEFE;
$blackgrey: #333333;

//Fonts
$montserrat: 'Montserrat', sans-serif;
$roboto: 'Roboto', sans-serif;

//