<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La Ballena Blava</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/DIW/UD4/scss/fitxestecniques.css">
</head>
<body>
    <header>
        <div class="header-top">
            <div class="menu-icon" id="menu-icon">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="logo">
                <img src="/DIW/UD4/img/logo.png" alt="Logo">
            </div>
            <a href="/DIW/UD4/views/login.html"><button class="login-button">Iniciar Sessió</button></a>
        </div>
        <h1>LA BALENA BLAVA</h1>
    </header>

    <nav class="menu" id="menu">
        <ul class="menu-options" id="menu-options">
            <h1>MENÚ</h1>
            <li><a href="/DIW/UD4/index.html">Inici</a></li>
            <li><a href="#about">Història</a></li>
            <li><a href="/DIW/UD4/views/portafolio.html">Portafoli</a></li>
            <li><a href="#news">Notícies</a></li>
            <li>
                <a href="#" class="submenu-toggle">Al voltant de la balena</a>
                <ul class="submenu">
                    <li><a href="/DIW/UD4/views/fitxestecniques.html">Fitxes tècniques</a></li>
                    <li><a href="/DIW/UD4/views/altresacts.html">Altres activitats</a></li>
                </ul>
            </li>
            <li><a href="#admin">Admin Page</a></li>
        </ul>
    </nav>

    <main>
        <h1>FITXES TÈCNIQUES</h1>
        <div class="info-section">
            <div class="card">
                <h2>Ós 1</h2>
                <img src="/DIW/UD4/img/fitxestecniques/fitxatecnica1.jpeg" alt="Imagen de hueso 1">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce facilisis turpis ut velit sagittis, at dictum urna vehicula.</p>
            </div>
            <div class="card">
                <h2>Ós 2</h2>
                <img src="/DIW/UD4/img/fitxestecniques/fitxatecnica2.jpeg" alt="Imagen de hueso 2">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce facilisis turpis ut velit sagittis, at dictum urna vehicula.</p>
            </div>
            <div class="card">
                <h2>Ós 3</h2>
                <img src="/DIW/UD4/img/fitxestecniques/fitxatecnica3.jpeg" alt="Imagen de hueso 3">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce facilisis turpis ut velit sagittis, at dictum urna vehicula.</p>
            </div>
            <div class="card">
                <h2>Ós 4</h2>
                <img src="/DIW/UD4/img/fitxestecniques/fitxatecnica4.jpeg" alt="Imagen de hueso 4">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce facilisis turpis ut velit sagittis, at dictum urna vehicula.</p>
            </div>
        </div>
    </main>

    <footer>
        <p>&copy; 2024 La Balena Blava. Luca Seguí</p>
    </footer>

    <script src="/DIW/UD4/js/menu.js"></script>
</body>
</html>
